% require 'time'
% require 'date'
% require 'digest/md5'
% color_array = ["darkblue", "darkgreen", "red", "darkred", "darkpurple", "maroon"]
% color_array |=  ["darkcyan", "blue", "purple", "olive", "royalblue"]
% daylogs.each do |daylog|
    <h3><%= daylog[:date].strftime("%Y/%m/%d") %></h3>
    <table>
%     daylog[:log].each do |log|
%       color = Digest::MD5.hexdigest(log[:nick])[0..1].hex % color_array.length()
%       hour = log[:time].hour
%       daynight = "day"
%       daynight = "night" if hour <= 5 || hour >= 18
        <tr>
          <td class="time <%= daynight %>"><%= log[:time].strftime("%H:%M:%S") %></td>
          <td class="nick">
            <span class="<%= color_array[color] %>">
%             nick = log[:nick]
%             nick = nick[0..7] + ".." if nick.length > 10
              <%= nick %>
            </span>
          </td>
%         case log[:type]
%         when "PRIVMSG"
            <td class="content privmsg"><%= log[:content] %></td>
%         when "NOTICE"
            <td class="content notice"><%= log[:content] %></td>
%         when "ACTION"
            <td class="content action">* <%= log[:content] %></td>
%         when "OP"
            <td class="content op">+o <%= log[:target] %></td>
%         when "DEOP"
            <td class="content deop">-o <%= log[:target] %></td>
%         when "JOIN"
            <td class="content join">join</td>
%         when "PART"
            <td class="content part">part (<%= log[:content] %>)</td>
%         when "NICK"
            <td class="content newnick"> -> <%= log[:new_nick] %></td>
%         when "KICK"
            <td class="content kick">kicked <%= log[:target] %> (<%= log[:reason] %>)</td>
%         when "TOPIC"
            <td class="content topic">Topic: <%= log[:content] %></td>
%         end
        </tr>
%     end
    </table>
% end
